<form class="d-flex justify-content-center aling-item-center">
    <div class="form-group d-flex justify-content-center aling-item-center" style="width: 25%;">
        <div class="input-group">
            <input type="text" name="filtrar"  class="form-control" placeholder="Filtrar cateogoria" [(ngModel)]="dataService.filterCategory">
            <div class="input-group-text bg-white">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered table-hover table-dark table-striped ">
    <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">MONTO</th>
            <th scope="col">FECHA</th>
            <th scope="col">TIPO</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of datas|filterCategory: 'category':dataService.filterCategory">
            <td>{{data.name}}</td>
            <td> $ {{data.price}}</td>
            <td>{{data.date}}</td>
            <td>{{data.type}}</td>
            <td>{{data.category}}</td>
            <td>{{data.description}}</td>
            <td>
                <button class="btn btn-danger" (click)="dataDelete(data)">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>