<div class="p-4">
    <div class="row">
        <!-- Filtro de categorias-->
        <div class="col-md-4">
            <form class="d-flex justify-content-center aling-item-center">
                <div class="form-group d-flex justify-content-center aling-item-center" style="width: 50%;">
                    <div class="input-group">
                        <input type="text" name="filtrar" class="form-control" placeholder="Filtrar cateogoria"
                            [(ngModel)]="dataService.filterCategory">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Filtro de fechas-->
        <div class="col-md-4 text-center">
            <form class="d-flex justify-content-center aling-item-center">
                <div class="form-group d-flex justify-content-center aling-item-center" style="width: 50%;">
                    <div class="input-group">
                        <input type="text" name="filterDate" class="form-control" placeholder="Filtrar Mes"
                            [(ngModel)]="dataService.filterDate">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Filtro de Ingresos/Egresos-->
        <div class="col-md-4 text-center">
            <form class="d-flex justify-content-center aling-item-center">
                <div class="form-group d-flex justify-content-center aling-item-center" style="width: 50%;">
                    <div class="input-group">
                        <input type="text" name="filterExpensesIncomes" class="form-control" placeholder="Filtrar Egresos/Ingresos"
                            [(ngModel)]="dataService.filterExpensesIncomes">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table table-bordered table-hover table-dark table-striped ">
    <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">MONTO</th>
            <th scope="col">FECHA</th>
            <th scope="col">TIPO</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let data of datas|filterCategory: 'category':dataService.filterCategory| filterDate: 'date':dataService.filterDate| filterExpensesIncomes: 'type':dataService.filterExpensesIncomes ">
            <td>{{data.name}}</td>
            <td> $ {{data.price}}</td>
            <td>{{data.date}}</td>
            <td>{{data.type}}</td>
            <td>{{data.category}}</td>
            <td>{{data.description}}</td>
            <td>
                <button class="btn btn-danger" (click)="dataDelete(data)">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>