<table class="table table-bordered table-hover table-dark table-striped ">
    <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">MONTO</th>
            <th scope="col">FECHA</th>
            <th scope="col">TIPO</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of datas">
            <td>{{data.name}}</td>
            <td> $ {{data.price}}</td>
            <td>{{data.date}}</td>
            <td>{{data.type}}</td>
            <td>{{data.category}}</td>
            <td>{{data.description}}</td>
            <td>
                <button class="btn btn-danger" (click)="dataDelete(data)">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>