<div class="card">
    <div class="card-body">
        <!-- Formulario de carga de datos -->
        <form >
            <div class="form-group">
                <label> Ingrese el nombre de la categoria</label>
                <input type="text" placeholder="IIngrese el nombre de la categoria"  class="form-control">
            </div>
            <div class="form-group">
                <label> Redacte una descripcion para la categoria</label>
                <textarea  cols="30" rows="2" style="resize: none;" class="form-control"  placeholder="Ingrese una descripcion"></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Agregar categoria</button>
        </form>
    </div>
</div>