<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img width="50" alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        Trabajo practico Angular-JS: MIRALLES
    </a>
    <div class="card bg-success" style="width: 9rem; height: 5rem;">
        <div class="card-body " style="color:azure">
            <h6 class="card-title  d-flex justify-content-center">Ingresos</h6>
            <p class="card-text d-flex justify-content-center aling-item-center"  > $ 78.000</p>
        </div>
    </div>
    <div class="card bg-danger" style="width: 9rem; height: 5rem;">
        <div class="card-body " style="color:azure">
            <h6 class="card-title  d-flex justify-content-center">Egresos</h6>
            <p class="card-text d-flex justify-content-center aling-item-center">$43.577</p>
        </div>
    </div>
    <div class="card bg-primary" style="width: 9rem; height: 5rem;">
        <div class="card-body " style="color:azure">
            <h6 class="card-title  d-flex justify-content-center">Balance</h6>
            <p class="card-text d-flex justify-content-center aling-item-center">$34.991</p>
        </div>
    </div>

</nav>